
body {
    background-image: url(bg_img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.heading {
    color: black;
    font-family: 'Raleway', sans-serif;
    margin: 35px auto 20px;
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
}


#quote {
    
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: 'PT Serif', serif;
    width: 50vw;
	margin: auto;
	padding: 30px;
	border-radius: 5px;
	background-color: #EF9595;
	color: black;
    box-shadow: 3px 5px 7px gray;
}

.btn{
    display: inline-block;
    padding: 15px 32px;
}

#getQuoteBtn {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    background-color: #EF9595; 
    border: none;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 3px 5px 7px gray;
}
